.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(45 159 124);
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  .station-imge {
    overflow: hidden;
    transition: transform 1s;
}
.station-imge:hover img{
transform: scale(1.2,1.2);
}
.station-imge img{

width: 100%;
transition: transform 1s;
}


  
.stationName,.adress{
     font-family: "Cambria" ;
    color:rgb(21, 133, 99);
    font-weight: 900 !important;
  }
  .station-content{
    border: solid 1px #fff;
    background-color: #fff;  
  }
  i{
    color:rgb(21, 133, 99);
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #ffc000;
  }
  .off {
    color: #ccc;
  }
  span.star
  {
    font-size: x-large;
  }