.card-title {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    margin: 3px;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    width: 25rem;
}


