.contentRegister{
    background-color: rgb(247, 250, 249);
    font-family: "revert" ;
    font-weight: bolder
}
h3{
    color:rgb(21, 133, 99);
    font-weight: 900 !important;
}

.submit{
    background-color: rgb(45 159 124) !important;
    border: 1px solid rgb(45 159 124) !important ;
    font-weight: 500 !important;
}
.submit:hover{
    background-color: white !important;
    color: rgb(45 159 124) !important ;
    border: 1px solid rgb(45 159 124) !important ;
    box-shadow: 0 0 0 0.25rem rgb(45 159 124 / 25%) !important;
}
.form-control:focus{
  
    border-color:rgb(45 159 124) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(45 159 124 / 25%) !important;
}
.google{
    background-color: rgb(185 28 28 ) !important;
    border: 1px solid rgb(185 28 28) !important ;
}
.google:hover{
    background-color: white !important;
    color: rgb(185 28 28 ) !important ;
    border: 1px solid rgb(185 28 28 ) !important ;
    box-shadow: 0 0 0 0.25rem rgb(185 28 28 / 25%) !important;
}
 
 h5 {
    display: flex;
    flex-direction: row;
  }
  h5:before, h5:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h5:before {
    margin-right: 10px
  }
  h5:after {
    margin-left: 10px
  }
     .form-control.rtl {
       direction: rtl !important;
     }
