 .footerStyle
{
    background: var(--clr-white);
    /* box-shadow: var(--light-shadow); */
    text-align: center;
    padding: 15px;
    /* padding-top: 150px;
        padding-bottom:0px; */
    width: 100%;
  
    /* margin:auto; */
    /* margin-bottom: 0; */
    font-family: "Lucida Calligraphy" !important;
    color: rgb(45 159 124);
    font-weight: bolder;
    margin-top: auto;
    
}